{% extends 'app/base.html' %}

{% block content %}
<div class="w-50 my-5 py-4">
    <h1>Авторизация</h1>
    <form method="post">
        {% csrf_token %}
        <div class="form-error">{{ form.non_field_errors }}</div>
        {% for f in form %}
        <p>{{ f }}</p>
        <div class="form-error">{{ f.errors }}</div>
        {% endfor %}
        <button class="btn btn-dark form-control" type="submit">Войти</button>
        <p class="my-3">У вас нет аккаунта? <a href="{% url 'registration' %}">Зарегистрируйтесь</a></p>
    </form>
</div>
{% endblock %}
